.mazeInput{
    margin: 0;
    width:500px;
    height: 500px;
}

.MazeCreator{
    margin:3vh 5%;
    background-color:#efeeee;
    width: 90%;
    height: 70vh;
    border:0px;
    box-shadow:rgb(48, 48, 48) 0px 0px 5px, rgb(248, 248, 248) 0px 0px 10px;
    flex-wrap: wrap;
    cursor : crosshair;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center; 
}
.element{
    border:none;
    margin:0px;
    padding: 0px;
    background-color: #efeeee;
    width: 2.5%;
    float: none;
    height: 2.5%;
    font-size: 70%;
    position: relative;
    cursor: crosshair;  
    min-width: 1px;
}   

.previous-enter{
    opacity: 0;
}
.previous-enter.previous-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.previous-enter{
    opacity: 1;
}

.previous-enter{
    opacity: 0.01;
    opacity: 300ms ease-in;
}
