body{
    background-color:#1B1E27;
    margin: 0px;
    padding: 0px;
}

.main{
    margin: 5%;
    background-color: #F2F2F3;
    width: 90%;
    height: 90%;
    border:0px;
    position: absolute;
    box-shadow:#D9D9D9 3px 3px 100px;
    display: flex;
    flex-wrap: wrap;
}

.child{
    background-color: #F2F2F3;
    width: 1%;
    height: 1%;
    position: static;
}